extends layout

block content
    .container
        .row
            h1 Who is the best?
            
        .row
            form.form-inline(id='form', method='post', action='/vote-safe', role='form')
                input(name='csrfToken', type='hidden', value='#{csrfToken}')
                .form-group.col-lg-4
                    input(name='vote', type='radio', value='SF')
                    &nbsp;San Fransisco 49ers&nbsp;&nbsp;&nbsp;&nbsp;
                    input(name='vote', type='radio', value='SEA')
                    &nbsp;Seattle Seahawks
                
                .form-group.col-lg-1
                    button.btn.btn-success.text-center(type='submit') Vote